*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container1 #color-input{
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;

}